*.dat
url/*
*~
elpa/*
abbrev_defs
loaddefs.el*
backups/*
auto-save-list
*elc
.svn
.DS_Store
session*
tramp
places
recentf
.org-id-locations
\#*
eshell/*
projectile-bookmarks.eld
.emacs.desktop*
menu_log.notes
projectile-bookmarks.eld
